/* Estilo general del cuerpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

/* Estilo del título */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilo del formulario */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    box-sizing: border-box;
    
}

/* Estilo de las etiquetas del formulario */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

/* Estilo de los campos de entrada de texto */
input[type="text"], 
textarea {
    width: calc(100% - 22px); /* Ajuste del ancho para incluir el padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 15px;
    font-size: 16px;
}

/* Estilo del botón de envío */
button {
    background-color: #5cb85c;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

button:active {
    background-color: #398439;
}

button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(92, 184, 92, 0.5);
}
